@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}
.big_block{
    display: flex;
    justify-content: center;
}
.flex{
    position: absolute;
    top: 150px;
    left: 20%;
}
.content h1 a{
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-size: 42px;
    font-weight: 100;
}
.content span{
    font-size: 18px;
    padding-right: 5px;
    color: rgb(247, 247, 247);
    position: relative;
    transition: 0.4s;
    bottom: 20px;
    opacity: 0;
}

.content h1 a:hover span{
    opacity: 1;
    transition: 0.5s;
}
.content h1 a:hover{
    transition: 0.4s;
    padding-left: 15px;
}
.info{
    position: absolute;
    top: 65%;
    left: 60%;
}
.info h4{
    font-size: 21px;
    margin: 0px;
    font-weight: 200;
    color: #777;
}
.info span a{
    text-decoration: none;
    line-height: 45px;
    color: #777;
    text-decoration: underline rgb(90, 90, 90);
}
.info span a:hover{
    color: rgb(250, 250, 250);
    transition: 0.5s;
}