@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
/* GO !!! */


.head_inner{
    background-color: #121212;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 0px;
}
.head h2{
    position: relative;
    bottom: 140px;
    padding-left: 20px;
    font-weight: 200;
    color: #fff;
    font-size: 40px;
}
.head a{
    text-decoration: none;
}
.content_head h1{
    font-size: 45px;
    width: 60%;
    color: #fff;
    font-weight: 200;
    padding-bottom: 0px;
    position: relative;
    left: 270px;
    bottom: 100px;
}
/* main */

.flex{
    display: flex;
    justify-content: center;
    text-align: left;
}
.wi_main{
    width: 90%;
    padding: 120px 0px;
}
.cont_card{
    width: 50%;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}
.cont_card span a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    text-decoration: underline black 2px;
    line-height: 10px;
}
.cont_card span a:hover{
    text-decoration: underline rgb(0, 68, 255) 2px;
    transition: 0.9s;
}
.cont_card p{
    font-size: 18px;
    line-height: 25px;
    color: #777;
    text-shadow: 2px 5px 10px rgb(235, 235, 235);
}
.cont_card h1{
    font-size: 23px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
.inp_card{
    background-color: #fff;
    padding-left: 100px;
    width: 50%;
    text-align: left;
}
.inp_card input{
    width: 500px;
    padding: 5px 0px;
    height: 50px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(41, 41, 41);
    outline:none;
}
.inp_card textarea{
    height: 70px;
    width: 500px;
    padding: 10px 0px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(41, 41, 41);
    margin-bottom: 50px;
    outline:none;
}
.inp_card a{
    background: #121212;
    border: 1px solid #121212;
    font-size: 16px!important;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 11px 25px;
    color: #fff;
    text-decoration: none;
}
.inp_card a:hover{
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.7s;
    color: #000;
}
footer{
    background: url(https://miro.medium.com/max/14285/1*5TRuG7tG0KrZJXKoFtHlSg.jpeg) center / cover no-repeat fixed;
    width: 100%;
    height: 100%;
    
}
.footer_innner{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 0px;
    margin-top: 10px;
}
.fflex{
    display: flex;
    justify-content: space-around;
}
.fflex h1{
    color: #fff;
}
.fflex h4{
    color: #fff;
}
.map{
    margin-top: 100px;
}
.serv ul{
    list-style: none;
}
.serv ul li a{
    text-decoration: none;
    color: #777;
    line-height: 25px;
}
.serv ul li a:hover{
    color: #fff;
    transition: 0.6s;
    text-decoration: underline;
}
.qui ul{
    list-style: none;
}
.qui ul li a{
    text-decoration: none;
    color: #777;
    line-height: 25px;
}
.qui ul li a:hover{
    color: #fff;
    transition: 0.6s;
    text-decoration: underline;
}
.add{
    color: #777;
}
.add ul {
    list-style: none;
    line-height: 30px;
}
.add ul li{
    color: rgb(240, 240, 240);
}

